@import "../scss/variables.scss";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 23.4rem;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;

  // Desktop
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__introduction {
      display: flex;
      align-items: center;
      height: 91vh;
      padding-right: 4rem;
      margin-top: 3rem;
    }

    &__footer {
      display: flex;
      justify-content: end;
      padding-right: 4.3rem;
    }
  }
}
